{% extends 'layout.html.twig' %}
{% block banner %}
<header>
    <div id="banner-div">
        <h1>{{ page_heading_1 }}</h1>
        <p>
            Page last updated on <script type="text/javascript">document.write(document.lastModified)</script>
            <br />
            Maintained by <a href="mailto:p17209674@my365.dmu.ac.uk">
                p17209674@my365.dmu.ac.uk</a>
        </p>
        <hr class="deepline"/>
    </div>
</header>
<nav>
    <div id="nav-bar">
        {% if(logout == true) %}
            <ul>
                <li><a href="{{ landing_page }}">Login page</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="{{ landing_page }}">Home</a></li>
                <li><a href="{{ landing_page2 }}">Send Message</a></li>
                <li><a href="{{ landing_page3 }}">View Messages</a></li>
                <li><a href="{{ landing_page4 }}">Download Messages</a></li>
                <li><a href="{{ landing_page6 }}">Read Downloaded</a></li>
                {% if(rank == "Admin") %}
                    <li><a href="{{ landing_page7 }}">Admin settings</a></li>
                {% endif %}
                <li><a href="{{ landing_page5 }}">Log out</a></li>
            </ul>
        {% endif %}
    </div>
</nav>
{% endblock %}