{% extends 'banner.html.twig' %}
{% block content %}
{#    enable the meta header to refresh page every 10 seconds   #}
{#    <meta http-equiv="refresh" content="1" >#}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        {% if(error != false) %}
            <p class="error">{{ error }}</p>
        {% elseif(message != false) %}
            <p class="message">{{ message }}</p>
        {% endif %}
        <fieldset id="landing_table">
            <legend>{{ feed_message }}
{#                <button id="landing_refresh1">Test me baby</button>#}
            </legend>
            <button id="landing_refresh1" onclick="timerFunction()">Start tracking messages</button>
            <div id="div_messages">
                <table id="tableLanding">
                    <thead>
                    <tr>
                        {% for header in message_array_feed.0|keys %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for nested_array in message_array_feed %}
                        <tr>
                            {% for value in nested_array %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </fieldset>
        <br>
        {% if(message_array == true) %}
            <fieldset id="landing_table">
                <legend>Results:</legend>
                <table id="tableLanding">
                    <thead>
                        <tr>
                            {% for header in message_array.0|keys %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for nested_array in message_array %}
                        <tr>
                            {% for value in nested_array %}
                            <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
            <br>
        {% endif %}
        <fieldset id="landing_table2">
            <legend>Switchboard:</legend>
            <button id="landing_refresh2">Refresh switchboard</button>
            <div id="div_switchboard">
                <table id="table_switchboard">
                    {% for key, value in switchboard_result %}
                        <tr class="switch_table">
                            <th>{{ key }}</th>
                            {% if(key == "Temperature: ") %}
                                <td>{{ value }} &#8451;</td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </fieldset>

    </div>
{% endblock %}