{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        {% if(message != false) %}
            <p>{{ message }}</p>
        {% else %}
            <br>
        {% endif %}
        {% if(message_array == true) %}
            <table>
                <thead>
                    <tr>
                        {% for header in message_array.0|keys %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for nested_array in message_array %} #}
                    <tr>
                        {% for value in nested_array %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <p class="curr_page"><a href="{{ landing_page1 }}">Home</a>
            <a href="{{ landing_page2 }}">Send Message</a>
            <a href="{{ landing_page3 }}">View Messages</a>
            <a href="{{ landing_page4 }}">Download Messages</a>
            <a href="{{ landing_page5 }}">Log out</a></p>
    </div>
{% endblock %}