{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h3>{{ page_heading_2 }}</h3>
        <p class="curr_page"><a href="{{ landing_page1 }}">Home</a>
            <a href="{{ landing_page2 }}">Send Message</a>
            <a href="{{ landing_page3 }}">View Messages</a>
            <a href="{{ landing_page4 }}">Download Messages</a>
            <a href="{{ landing_page5 }}">Log out</a></p>
    </div>
{% endblock %}